#visningsDiv {
    border: black solid 2px;
    height: 20px;
    width: 100px;
}

#showBNames {
    float: left;
}

#showGNames {
    float: left;
}

#newline {
    clear: left;
}

body {
    background-color: darkgray;
}